SENTRY_URL=https://wxxxxx@sentry.mxxx-xxx.net/xx
# Visit https://eu.api.ovh.com/createToken/?GET=/*&&POST=/*&&PUT=/*&&DELETE=/*&&duration=unlimited
OVH_ENDPOINT=ovh-eu
OVH_APPLICATION_KEY=
OVH_APPLICATION_SECRET=
OVH_CONSUMER_KEY=
# public cloud id
CICD_CLOUD_PROJECT=

